.btn-red {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: 1px solid #ff6b72;
  border-radius: 10px;
  background: rgba(255, 107, 114, 0.1);
}

.btn-red img {
  width: 18px;
}
