@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
  color: #fff;
}

p {
  font-size: 0.875rem;
  font-weight: 300;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: #984ebd;
  text-decoration: underline;
}

#sales {
  padding: 40px 10px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
